@tailwind base;
@tailwind components;
@tailwind utilities;
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
html {
  scroll-behavior: smooth;
}
#root{
  background-color: #bb9245;
  width: 100%;
  height: auto;
  min-height: 100vh;  
} */
